# PostgreSQL Database
DATABASE_URL="postgresql://user:password@localhost:5432/profile_intelligence?schema=public"

# External API Base URLs
GENDERIZE_API_URL=https://api.genderize.io
AGIFY_API_URL=https://api.agify.io
NATIONALIZE_API_URL=https://api.nationalize.io

# Port
PORT=3000
